/*Fonts*/
$fontFam: 'Courier', sans-serif;
$heavy: 900;
$bold: 700;
$regular: 400;
$base-font-size: 14px;

/*Colors*/
$textcolor: #222;
$pink: #C13ABB;
$white: #fff;

.pink {
	color: $pink;
}

.white {
	color: $white;
}


/*flexbox rules*/
.flex-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
     min-height: 100vh;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.flex-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.flex-start {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.flex-full {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
}

.j-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*Layout Elements*/
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: $fontFam;
	font-size: $base-font-size;
	color: $textcolor;
	font-weight: normal;
}

a {
	text-decoration: none;
}



header {
    padding: 30px 10%;
    font-size: ($base-font-size * 2);
    border-bottom: 2px dotted $pink;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    span {
	    text-align: center;
    	line-height: 0.8;
    	color: $textcolor;
    	.pink {
		    margin-right: 12px;
		    margin-left: 12px;
    	}
    }
    a {
	    text-align: center;
    }
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-top: 2px dotted $pink;
}

.hero-img {
	background-image: url('../img/computer-1245714_1280.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 70vh;
	-webkit-filter: grayscale(90%);
	        filter: grayscale(90%);
	h1 {
		color: $textcolor;
		text-align: center;
		font-weight: normal;
		padding: 30px;
		background-color: $white;
	}
}

.img-container {
	width: 80%;
    margin: 0 auto;
    padding: 50px 0;
	figure {
		border: 2px dotted $pink;
		margin: 10px;
		padding: 20px;
		figcaption {
			text-align: left;
			color: $textcolor;
			font-size: ($base-font-size * 1.2);
		    line-height: 1.1;
		    padding: 10px;
		    h3 {
	    	    margin: 0;
    			font-weight: normal;
		    }
		    p {
		    	margin: 7px;
		    }
		}
	}
	img {
		max-width: 100px;
	}
	 @media screen and (max-width: 480px) {
		width: 90%;
    }
}


footer {
	background-color: $pink;
	height: 60px;
	margin-top: 0;
	text-align: center;
	/* border-top: 2px dotted $pink;*/
}